
-
	var features = "\
		Выбор типа изделия#\
		Этот выбор осуществляется из предустановленного набора типовых окон и дверей.\
		Данный и последующие разделы настриваются индивидуально под Вас.\
		==\
		Выбор систем профиля/фурнитуры#\
		Стоимость изделия зависит от выбора системы профиля и фурнитуры. \
		В калькуляторе есть возможность выбирать любой профиль, который используется в Вашей компании.\
		==\
		Выбор стеклопакета#\
		Можно настроить конкретные формулы стеклопакетов или же упростить, \
		написав только количество камер в стеклопакете, ведь не каждый потребитель не разбирается в формулах.\
		==\
		Выбор варианта ламинации изделия#\
		Перечисляются либо конкретные цвета Renolit, RAL либо сторона \
		ламинации: внутренняя, внешняя, двусторонняя.\
		==\
		Вывод стоимости окна#\
		оплаты в рассрочку, оплаты за монтаж, отделку и доставку отдельно от стоимости изделия.\
		Для корректной работы этих функций мы закладываем Ваши формулы в модуль настроек калькулятора.\
		==\
		Выбор подоконника, отлива, откоса#\
		Дополнительные материалы также могут быть настроены. \
		Более того этот список можно пополнить Вашими индивидуальными пожеланиями.\
		==\
		Выбор демонтажа, монтажа, доставки#\
		При выборе дополнительных услуг появляется возможность задать опции, \
		такие как расстояние в километрах для услуги «Доставка».\
		==\
		Вывод характеристик окна: «Тепло», «Тишина», «Дизайн»#\
		Благодаря этим характеристикам изделия покупатель сможет \
		подобрать для себя более подходящую конфигурацию.\
		==\
		Печать коммерческого предложения#\
		Детальное коммерческое предложение с таблицей сметой, \
		логотипом, телефоном и контактами Вашей компании\
		==\
		Фотографии сечений выбранных систем профилей и стеклопакета#\
		Позволяют сразу увидеть срез будущего изделия или стеклопакета \
		для любознательных клиентов.\
	";
	
	var _features = [];
	features = features.split("==");
	features.forEach(function(feature) {
		feature = feature.split("#");
		_features.push({
			title: feature[0],
			text: feature[1]
		});
	});
	features = _features;



style.
	section#features .carousel .item {
		text-align: center;
		height: 500px;
		1border: 1px solid silver;
		padding: 0px 10px 0px 10px;
		background-repeat: no-repeat; 
		background-position: center center;
		padding: 20px 15% 0px 15%;
	}
	section#features .tooltip.top .tooltip-arrow {
		border-top-color: #ef7f1a;
	}
	section#features .tooltip.bottom .tooltip-arrow {
		border-bottom-color: #ef7f1a;
	}
	section#features .tooltip-inner {
		background-color: #ef7f1a;
	}
	
	

section#features: div.container

	h2 Возможности калькулятора
	

		
	div.carousel.slide#carousel-features(data-ride="carousel" data-interval="7000")
		ol.carousel-indicators
			each feature, index in features
				li(class=index ? "" : "active" data-target="#carousel-features" data-slide-to=index data-toggle="tooltip" data-placement="top" title=feature.title)
		div.carousel-inner(role="listbox")
			each feature, index in features
				div.item(class=index ? "" : "active" style="background-image: url('/images/features/feature" + index + ".png');")
					p.lead #[b= feature.title]: #{feature.text}


	div(style="height: 100px;")

	
	