
mixin glyph(name)
	span.glyphicon(aria-hidden="true" class="glyphicon-" + name)

mixin css(href)
	link(href=href rel="stylesheet")

mixin jumbotron
	div.jumbotron(class=attributes.class)
		block

mixin dropdown(item)
	li.dropdown
		a.dropdown-toggle(href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false") #{item.text} #[span.caret]
		ul.dropdown-menu
			each subitem in item.menu
				li: a(href=item.href)= subitem.text

mixin navbar(title, menu)
	nav#mainmenu.navbar.navbar-default.navbar-fixed-top.shadow-large
		div.container-fluid
			div.navbar-header: a.lobster(class="navbar-brand" href="#welcome")= title
			div#navbar.navbar-collapse.collapse
				ul.nav.navbar-nav
					each item in menu
						if item.menu
							+dropdown(item)
						else
							li: a(href=item.href)= item.text
				
				form.navbar-form.navbar-right
					button.btn.btn-info(type="button" data-toggle="modal" data-target="#demo") Демо
					span 
					button.btn.btn-info(type="button" data-toggle="modal" data-target="#order") Купить
					//span 
					//select#themeswitch.form-control
										
				p.navbar-text.navbar-right +7 (929) 608-33-61
				
				//form.navbar-form.navbar-right
				//	button.btn.btn-info(type="button") +7 (495) 123-45-67
			